<main ng-app="TodoApp"
      ng-controller="TodoController as ctrl">

<h3>Current Todos</h3>
<ul class="todos">
  <li ng-repeat="todo in ctrl.todos">
    <button ng-click="ctrl.updateTodo(todo)">
      {{ todo.done ? 'undo' : 'done' }}
    </button>

    <button ng-click="ctrl.destroyTodo(todo)">
      Remove todo!
    </button>

    <span ng-class="todo.done ? 'done' : 'undone'">
      {{ todo.description }}
      {{ todo.decision }}
      {{ todo.done }}
  </li>
</ul>
<hr>

<h3>Edit decision</h3>
<ul ng-repeat="todo in ctrl.todos">
  {{todo.description }}
  <form name="asdf" ng-submit="ctrl.updateTodoDecision(todo)">
    <input type="text" placeholder="decision" ng-model="ctrl.patchTodo.decision">
    <input type="submit">
  </form><br>
</ul>
<hr>

  <form ng-submit="ctrl.createTodo()">
    <input type="text" placeholder="next todo!" ng-model="ctrl.newTodo.description">
    <input type="text" placeholder="decision" ng-model="ctrl.newTodo.decision">
    <input type="submit">
  </form>

</main>
