<main ng-app="TodoApp" ng-controller="TodoController as ctrl">
<h2 class="text-center">Welcome to self Planning School</h2>

<div class="row">
  <div class="col-sm-1 col-md-1"></div>
  <div class="col-sm-5 col-md-5">   
   
    <div class="row">
      <h3>Plan todos by students </h3>
      <form ng-submit="ctrl.createTodo()">
        <input type="text" placeholder="next todo!" ng-model="ctrl.newTodo.description">
        <!-- <input type="text" placeholder="decision" ng-model="ctrl.newTodo.decision"> -->
        <input type="submit">
      </form>  
    </div> <!-- end of row -->

    <div class="row">
    <h3>List of todos planned by students</h3>
     <ul class="todos">
      <li ng-repeat="todo in ctrl.todos">
        <button ng-click="ctrl.updateTodo(todo)">
          {{ todo.done ? 'undo' : 'done' }}
        </button>

        <span ng-class="todo.done ? 'done' : 'undone'">
          <h4>Plan : {{ todo.description }}</h4>
          <h4>Teacher's decision : <span class="teacherRed">{{ todo.decision }} </span></h4>
          <!--{{ todo.done }} -->
        </span>
      </li>
    </ul>
    <hr>
    </div><!-- end of row -->
  </div><!-- end of grid -->  

  <div class="col-sm-1 col-md-1"></div>
  <div class="col-sm-5 col-md-5">
    <div class="row">

      <h3>Decide studendt's plan</h3>
      <ul ng-repeat="todo in ctrl.todos">
        <h4>student's Plan : {{todo.description }}</h4>
        <h4 >Teacher's decision : </h4><form name="asdf" ng-submit="ctrl.updateTodoDecision(todo)">
          <input type="text" placeholder="{{todo.decision}}" ng-model="ctrl.patchTodo.decision" >
          <input type="submit">
        </form>
          <button ng-click="ctrl.destroyTodo(todo)">
            Remove todo!
          </button>
        <br>
      </ul>
      <hr> 
    </div>
  </div>

</div> <!-- end of row -->

</main>
